build/
obj/
archive/
jni/opencv/native
libs/
cvutils/PostProcess
build/
gnuplot/
*.so
*.pdf
keystore
.keystore/ 
keystore/
cert.txt
log
lsyncd.conf
m1.png
m2.png
pause.svg
play.svg
.vscode/
*.org
postprocess.html
*.bearings
three60-144x144.png
three60-192x192.png
three60-48x48.png
three60-72x72.png
three60-96x96.png
three60-xxhdpi.png
three60.png
ARemRecorder.apk
cert.txt
a.out
frame-1.svg  
frame.svg  
pause.svg  
play.svg
backup/
opencv.opencl/
three60*.png
HSIdea*.svg
cmake-build-debug/
snappy/
